<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      X1 Health
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-scroll scrollX="true">
          <ion-col class="scroll-item" *ngFor="let video of this.videos">
            <ion-card>
              <ion-card-content>
                <ion-img [src]="video.imgPath"></ion-img>
                <ion-label>{{video.title}}</ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-scroll>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card>
            <ion-card-header>
              Standing
            </ion-card-header>
            <ion-card-content>
              <ion-item class="stats">
                <ion-label position="stacked">Goal: 90 mins</ion-label>  
                <ion-label position="stacked">Completed: 45 mins</ion-label>
              </ion-item>
              <div class="ion-canvas">
                <canvas #canvas1></canvas>
              </div>
              <ion-img src="../../assets/images/standing_chart.png" style="width: 90%;"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-header>
              Exercise
            </ion-card-header>
            <ion-card-content>
              <ion-item class="stats">
                <ion-label position="stacked">Goal: 90 mins</ion-label>  
                <ion-label position="stacked">Completed: 60 mins</ion-label>
              </ion-item>
              <div class="ion-canvas">
                <canvas #canvas2></canvas>
              </div>
              <ion-img src="../../assets/images/standing_chart.png" style="width: 90%;"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-header>
              Steps
            </ion-card-header>
            <ion-card-content>
              <ion-item class="stats">
                <ion-label position="stacked">Goal: 5000 steps</ion-label>  
                <ion-label position="stacked">Completed: 1002 steps</ion-label>
              </ion-item>
              <div class="ion-canvas">
                <canvas #canvas3></canvas>
              </div>
              <ion-img src="../../assets/images/standing_chart.png" style="width: 90%;"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

  </ion-grid>
</ion-content>
